{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mb-5 mt-4">
    <img src="{% static 'home/img/3.png' %}" class="img-fluid" style="width: 100%; height: auto;">
</div>
<div class="container">
    <div class="row">
      {% for article in articles %}
        <div class="col-md-3 mb-4">
          <div class="card h-100" style="width: 100%;">
            <img src="{{ article.image.url }}" class="card-img-top" style="height: 200px; object-fit: cover;" alt="...">
            <div class="card-body d-flex flex-column">
              <div>
                <span> . </span>
                <span>{{ article.reading_time}}</span>
                <span> . </span>
                 <span> {{ article.updated |date }}</span>
                 <span> . </span>
                 <span> {{ article.author }}</span>
              
              </div>
              
              <h5 class="card-title mt-4">{{ article.title }}</h5>
              <p class="card-text">{{ article.abstract }}</p>
             
            </div>
          </div>
        </div>
        {% if forloop.counter|divisibleby:4 and not forloop.last %}
    </div>
      <div class="row">
          {% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock %}
