{% extends 'base.html' %}
{% load static %}
{% block title %}
Home
{% endblock %}

{% block content %}
<div class="container mt-4">
  <div class="row align-items-center ">
      <div class="col-md-6">
        
          <div class="display-4 mb-4"> Unleash Your <span class="text-warning"> Tech </span> Passion</div>
          <p class="lead mb-4 "> We believe in providing top-notch products that fuel the passion of Data Scientists, Data Engineers, Software Engineers, and the broader tech and computer community.
            Quality, Innovation, and Community are at the heart of everything we offer.
            Curated selections to enhance your professional and personal tech lifestyle.</p>
          <a href="" class="btn btn-primary"> Join Asama Group</a>
      </div>
      
      <div class="col-md-6">
          <img src="{% static 'home/img/Catalogue-cuate.png' %}" class="img-fluid">
      </div>
  </div>
</div>

{% endblock %}