{% extends 'base.html' %}
{% load static %}


{% block title %}
Home
{% endblock %}

{% block extra_headers%}

{% endblock %}

{% block content %}

<style>
  .img-circle {
    border-radius: 50%;
    overflow: hidden;
  }
</style>

<div class="container mt-4">
  <div class="row align-items-center ">
    <div class="col-md-6">
      <div class="display-4 mb-4">A platform for <br>
          <span class="text-warning"> ML Engineering </span>
           online courses.</div>
      <p class="lead mb-4 ">
        
        🏗️ Built by Iranians for Iranians<br>
        👨‍🏫 Online Lectures<br>
        🤖Real-World Projects<br>
        
      </p><br>
      <a href="" class="btn btn-primary"> Join Asama Group</a>
    </div>
    
    <div class="col-md-6">
      <div class="">
        <img src="{% static 'home/img/brain-small.webp' %}" class="img-fluid">
      </div>
    </div>
  </div>
</div>

{% endblock %}