
<!-- <div class="sticky-top p-2 shadow "> 
  <nav class="navbar navbar-expand-lg bg-body-tertiary ">
      <div class="container">
      <a class="navbar-brand fs-3 text-primary  " href="#">ASAMA</a>
      </button>
      <div class="collapse navbar-collapse text-center " id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
          <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'home:home' %}">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'home:article' %}">Articles</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'home:community' %}">Community</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'courses:courses' %}">Courses</a>
        </li>
          <li class="nav-item">
              <a class="nav-link" href="#">About</a>
          </li>

          </ul>
              
      </div>
      <a href="{% url 'accounts:user_register' %}" class="btn btn-primary"> Login </a>
      </div>
  </nav>
</div> -->


<div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>
  
  <header class="site-navbar light site-navbar-target" role="banner">
  
    <div class="container">
      <div class="row align-items-center position-relative">
  
        <div class="col-3">
          <div class="site-logo">
            <a href="{% url 'home:home' %}"><strong>Asama</strong></a>
          </div>
        </div>
  
        <div class="col-9  text-right">
          
          <span class="d-inline-block d-lg-none"><a href="#" class=" site-menu-toggle js-menu-toggle py-5 "><span class="icon-menu h3 text-black"></span></a></span>
  
          <nav class="site-navigation text-right ml-auto d-none d-lg-block" role="navigation">
            <ul class="site-menu main-menu js-clone-nav ml-auto ">
              <li class="active"><a href="{% url 'home:home' %}" class="nav-link">Home</a></li>
              <li><a href="{% url 'courses:courses' %}" class="nav-link">Courses</a></li>
              <li><a href="{% url 'home:community' %}" class="nav-link">Community</a></li>
              <li><a href="{% url 'home:article' %}" class="nav-link">Blog</a></li>
              <li><a href="about.html" class="nav-link">About</a></li>
              <li><a href="contact.html" class="nav-link">Contact</a></li>
            </ul>
          </nav>
        </div>
  
        
      </div>
    </div>
  
  </header>