{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Eduport - LMS, Education and Course Theme</title>
        <!-- Meta Tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
         
        <meta name="description" content="Eduport- LMS, Education and Course Theme">
       
        <!-- Favicon -->
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
        <!-- Google Font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
        <!-- Plugins CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/all.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-icons.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/choices.min.css' %}">
        <!-- Theme CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    </head>
    <body>
        
        {% include 'inc/header.html' %}
        {% block content %} {% endblock %}
        {% include 'inc/footer.html' %}
        <!-- Back to top -->
        <div class="back-top">
            <i class="bi bi-arrow-up-short position-absolute top-50 start-50 translate-middle"></i>
        </div>
        <!-- Bootstrap JS -->
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <!-- Vendors -->
        <script src="{% static 'js/choices.min.js' %}"></script>
        <script src="{% static 'js/script.js' %}"></script>
        <script src="{% static 'js/functions.js' %}"></script>
    </body>
</html>
